 html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, contenuto espandibile, footer */
}

main {
  padding: 0rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
}

    /* Contenitore per centrare */
    .chart-container {
      min-height: 100vh; 
      display: flex; 
      align-items: center; 
      justify-content: center; 
      background-color: #f8f9fa; 
      padding: 1rem;
    }
    #myChart {
      cursor: crosshair;
      border: 1px solid #ddd;
      background-color: #fff;
    }


/* Menu a schermo intero per mobile */
@media (max-width: 992px) {
  #language-selector{
    font-size: 2.5rem;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* sopra altri contenuti */
  }

  .navbar-nav {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .navbar-toggler {
    z-index: 1100;
    transform: scale(2); /* bottone più grande */
    border: none;
  }

  .navbar-nav .nav-link {
    font-size: 3rem; /* voci del menu più grandi */
    padding: 10px;
  }
  .navbar-brand {
    font-size: 3rem; /* titolo più grande */
  }


  .navbar-collapse {
    justify-content: center; /* menù centrato */
    text-align: center;

}
.ms-auto {
  margin-left: 0px !important; /* margine sinistro automatico per spingere a destra */}

  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    max-width: 100% !important;
  }

  body, html {
    overflow-x: hidden; /* evita lo scroll orizzontale indesiderato */
  }



  .content, .gallery-description, .gallery-title, .card-body, .carousel-caption, p, h1, h5 {
    font-size: 1.8rem !important; /* aumenta significativamente la dimensione del testo */
    line-height: 1.6 !important; /* spaziatura maggiore tra le righe per leggibilità */
    word-wrap: break-word; /* andata a capo naturale */
  }

  .gallery-title {
    font-size: 3rem !important; /* titolo più grande */
  }

}