 html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, contenuto espandibile, footer */
}

main {
  padding: 0rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
}

    /* Contenitore per centrare */
    .chart-container {
      min-height: 100vh; 
      display: flex; 
      align-items: center; 
      justify-content: center; 
      background-color: #f8f9fa; 
      padding: 1rem;
    }
    #myChart {
      cursor: crosshair;
      border: 1px solid #ddd;
      background-color: #fff;
    }


/* Menu a schermo intero per mobile */
@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* sopra altri contenuti */
  }

  .navbar-nav {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .navbar-toggler {
    z-index: 1100;
  }

  .navbar-nav .nav-link {
    font-size: 1.5rem;
  }
}